*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: cadetblue;
    width: 1140px;
    margin: 20px auto;

}
.box{
    width: 240px;
    height: 240px;
    background-color: crimson;
    margin: 50px;
}

.box1:hover{
    transform: scaleX(1.5);
}

.box2:hover{
    transform: scaleY(1.5);
}

.box3:hover{
    transform: scale(1.5);
}

.box11:hover{
    transform: rotate(30deg);
}

.box12:hover{
    transform: rotateY(30deg);
}

.box21:hover{
    transform: skewX(30deg);
}

.box22:hover{
    transform: skewY(30deg);
}

.box23:hover{
    transform: skew(30deg);
}


